# FASS Services Website Code Owners
# These users will be requested for review when PRs are opened

# Default owners for everything
* @archyntabona

# Partner approval required for all changes
* @sebpam
